<!DOCTYPE html>
<html>
	<head>
  		<title>Np</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
		<div class="nav navbar-fixed-bottom">
			<ul>
				<li><%= link_to "home" , static_pages_home_path  %></li>
				<li><%= link_to "about" , static_pages_about_path  %></li>
			</ul>
		</div>
		<script src="../assets/js/jquery.js"></script>
  		<script src="../assets/js/bootstrap-transition.js"></script>
  		<script src="../assets/js/bootstrap-alert.js"></script>
  		<script src="../assets/js/bootstrap-modal.js"></script>
	    <script src="../assets/js/bootstrap-dropdown.js"></script>
		<script src="../assets/js/bootstrap-scrollspy.js"></script> 
		<script src="../assets/js/bootstrap-tab.js"></script>
		<script src="../assets/js/bootstrap-tooltip.js"></script>
		<script src="../assets/js/bootstrap-popover.js"></script>
		<script src="../assets/js/bootstrap-button.js"></script>
		<script src="../assets/js/bootstrap-collapse.js"></script>
		<script src="../assets/js/bootstrap-carousel.js"></script>
 		<script src="../assets/js/bootstrap-typeahead.js"></script>
 		<script>
    	  !function ($) {
        	$(function(){
        	  // carousel demo
        	  $('#myCarousel').carousel()
        	})
    	  }(window.jQuery)
        </script>
        <script src="../assets/js/holder/holder.js"></script>
	</body>
</html>
