<!DOCTYPE html>
<html>
	<head>
  		<title>Np</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= yield %>
		<div class="nav navbar-fixed-bottom">
			<ul>
				<li><%= link_to "home" , static_pages_home_path  %></li>
				<li><%= link_to "about" , static_pages_about_path  %></li>
			</ul>
		</div>
	</body>
</html>
