<!DOCTYPE html>
<html>
	<head>
  		<title>Np</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('.flexslider').flexslider({
    animation: "fade",
    controlNav: false,
    animationSpeed: 900,
    slideshowSpeed: 5000
  });
  });
</script>
	</head>
	<body>
		<%= yield %>
    <div class="page-content landing">
      <div class="bottom-nav-bg"></div>
      <div class="bottom-nav">
			  <ul>
				  <li><%= link_to "home" , static_pages_home_path  %></li>
			  	<li><%= link_to "about" , static_pages_about_path  %></li>
			  </ul>
      </div>
    </div>
	</body>
</html>
